header {
  .scene {
    z-index: -1;
    top: 0;
    // filter: hue-rotate(62deg);
  }
}

.welcome {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #fff;
  color: #1f628c;
  max-width: 600px;
  padding: 20px 60px 20px 30px;
  z-index: 9;
  left: 100px;
  top: 50px;
}

body,
#root {
  min-height: 200vh;
  background: black;
}

.scene {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}
